name: formae-go

on:
  push:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest-m
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.1'

    - name: Install pkl
      uses: pkl-community/setup-pkl@v0
      with:
        pkl-version: 0.30.0

    - name: Install swag
      run: go install github.com/swaggo/swag/cmd/swag@latest

    - name: Build
      run: make all

    - name: Test
      uses: nick-fields/retry@v2
      with:
        timeout_minutes: 10
        max_attempts: 3
        command: make test-all

    - name: Postgres unit tests
      run: |
        set -eo pipefail
        make test-unit-postgres

    - name: Setup local-data-api
      run: make local-data-api-ci

    - name: Aurora Data API unit tests
      run: |
        set -eo pipefail
        make test-unit-auroradataapi
