name: formae-package

on:
  workflow_dispatch:
    inputs:
      pkg_job:
        description: "platform to build and publish"
        type: choice
        default: "all"
        options:
          - "all"
          - "pkg_pkl"
          - "pkg_linux_arm64"
          - "pkg_linux_x8664"
          - "pkg_macos_arm64"
          - "pkg_macos_x8664"
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  pkg_pkl:
    runs-on: ubuntu-latest

    if: ${{ contains(fromJSON('["", "all", "pkg_pkl"]'), inputs.pkg_job) && github.actor != 'peldroid[bot]' }}

    concurrency:
      group: package_pkl
      cancel-in-progress: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install pkl
        uses: pkl-community/setup-pkl@v0
        with:
          pkl-version: 0.30.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::897722706215:role/github-pel
          role-session-name: PublishSession

      - name: Resolve Pkl
        run: make gen-pkl

      - name: Package Pkl
        run: make pkg-pkl

      - name: Publish PKL Packages to S3
        run: make publish-pkl

      - name: Publish Setup Script to S3
        run: make publish-setup

  pkg_linux_arm64:
    runs-on: ubuntu-24.04-arm

    if: ${{ contains(fromJSON('["", "all", "pkg_linux_arm64"]'), inputs.pkg_job) && github.actor != 'peldroid[bot]' }}

    concurrency:
      group: pkg_linux_arm64
      cancel-in-progress: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install pkl
        uses: pkl-community/setup-pkl@v0
        with:
          pkl-version: 0.30.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::897722706215:role/github-pel
          role-session-name: PublishSession

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.1'

      - name: Build and Publish
        run: make publish-bin

  pkg_linux_x8664:
    runs-on: ubuntu-latest

    if: ${{ contains(fromJSON('["", "all", "pkg_linux_x8664"]'), inputs.pkg_job) && github.actor != 'peldroid[bot]' }}

    concurrency:
      group: pkg_linux_x8664
      cancel-in-progress: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install pkl
        uses: pkl-community/setup-pkl@v0
        with:
          pkl-version: 0.30.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::897722706215:role/github-pel
          role-session-name: PublishSession

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.1'

      - name: Build and Publish
        run: make publish-bin
  
  pkg_macos_arm64:
    runs-on: macos-latest

    if: ${{ contains(fromJSON('["", "all", "pkg_macos_arm64"]'), inputs.pkg_job) && github.actor != 'peldroid[bot]' }}

    concurrency:
      group: pkg_macos_arm64
      cancel-in-progress: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install pkl
        uses: pkl-community/setup-pkl@v0
        with:
          pkl-version: 0.30.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::897722706215:role/github-pel
          role-session-name: PublishSession

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.1'

      - name: Build and Publish
        run: make publish-bin

  pkg_macos_x8664:
    runs-on: macos-15-intel

    if: ${{ contains(fromJSON('["", "all", "pkg_macos_x8664"]'), inputs.pkg_job) && github.actor != 'peldroid[bot]' }}

    concurrency:
      group: pkg_macos_x8664
      cancel-in-progress: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install pkl
        uses: pkl-community/setup-pkl@v0
        with:
          pkl-version: 0.30.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::897722706215:role/github-pel
          role-session-name: PublishSession

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.1'

      - name: Build and Publish
        run: make publish-bin

  pkg_container:
    uses: "./.github/workflows/container.yml"
    if: ${{ contains(fromJSON('["", "all"]'), inputs.pkg_job) && github.actor != 'peldroid[bot]' }}
    needs:
      - pkg_linux_arm64
      - pkg_linux_x8664