name: formae-pkl

on:
  push:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Install pkl
      uses: pkl-community/setup-pkl@v0
      with:
        pkl-version: 0.30.0

    - name: Test pkl
      run: make test-pkl

    - name: Verify pkl
      run: make verify-pkl